.contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}
// .contact__item {}
.contact__link {
    text-decoration: none;
    font-style: normal;
    color: #757575;
    line-height: 1.714;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    margin-left: 50px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: color;

    &:hover,
    &:focus {color: rgba(33, 150, 243, 1);
    }
}

.contact__link:hover .contact__svg {color: rgba(33, 150, 243, 1);
fill:var(--main-color);
}

.contact__link:focus .contact__svg {color: rgba(33, 150, 243, 1);
fill:var(--main-color);
}
.contact__svg {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: fill;
    margin-right: 10px;
    fill: #757575;
}
.contact__svg--mail {
    width:16px;
    height:12px;   
}
.contact__svg--phone {
    width:10px;
    height:16px;  
}
// .contact__path {}
