.modal {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.modal__background {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 528px;
    min-height: 581px;
    
    transform: translate(-50%,-50%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: translate;
}
.modal__img {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer; 
    padding: 6px;
}
/* .modal__path {} */

.modal__form {
    padding: 40px;
}
/* .modal__list {}
.modal__item {} */

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.modal__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: #757575;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    position: relative;

    & {
        .modal__span {
            position: absolute;
            top: 14px;
            left: 45px;
        }
    }
}
.modal__label input:focus + span use {
    fill:var(--main-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: fill;
}
// .modal__label .modal__span {
//     position: absolute;

//     top: 14px;
//     left: 45px;
// }
.modal__input {
    margin-top: 4px;
    padding-left: 42px;

    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
  
    fill:var(--main-color);

    &:focus {
    outline: none;
    border-color: var(--main-color);
    border-radius: 4px; 
    
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: border;}
}
.modal__textarea:focus {
    outline: none;
    border-color: var(--main-color);
    border-radius: 4px; 
    
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: border;
}
.modal__textarea {
    margin-top: 4px;
    width: 448px;
    height: 120px;
    padding: 12px 16px 12px 16px;
    color: #757575;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}