*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --main-color: #2196f3;
    --secondary-color: #2F303A;
    --third-color: #F5F4FA;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}   
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;   
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
    line-height: 1;
}
/* ----------------MIN-RESET------------------------- */
/* remember to define focus styles! */
ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
} 
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
/* ----------------MIN-RESET-END--------------------- */

/* ----------------COMPONENTS------------------------ */
.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1.875;
    background: #2196F3;
    padding:10px 41px 10px 41px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    border: none;
}


.button-style {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    padding:6px 22px 6px 22px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    border: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: background-color, color, box-shadow;
} 
.button-style:hover {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);   
}
.button-style:focus {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn--signup {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #fff;
    margin-top: 36px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 28px 10px 42px;
}
.btn--send {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #fff;
    margin-top: 36px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center; 
}
/* ----------------COMPONENTS-END-------------------- */

/* --------------------HEADER------------------------ */
.page-header {
    background-color: #FFFFFF;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.menu-nav {
    display: flex;
    justify-content: center;
}
.menu-nav__list {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;  
}
.menu-nav__item { 
    margin-right: 46px;
}
.menu-nav__link {
    position: relative;
    text-decoration: none;
    font-style: normal;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}
.menu-nav__link::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 4px;
    border-radius: 2px;
    width: 0;
    left: 0;
    bottom: -32px;
}
.menu-nav__link:hover:after {
    width: 100%;
}
.menu-nav__link--active::after {
    position: absolute;
    background-color: var(--main-color);
    height: 4px;
    border-radius: 2px;
    width: 100%;
    left: 0;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: background-color;
}
.logo {
    margin-right: 93px;
}
.logo__link {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.logo__link--highlight {
    color: var(--main-color);   
}
.contact-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.contact-nav__item {
    text-decoration: none; 
    font-style: normal;
    color: #757575;
    line-height: 1.714;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-left: 50px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: color;
}
.contact-nav__img {
    margin-right: 10px;
    fill: #757575;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: fill;
}
.contact-nav__img--mail {
    width:16px;
    height:12px;
}
.contact-nav__img--phone {
    width:10px;
    height:16px;
}
.contact-nav__link {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    color: #757575;
    line-height: 1.714;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    margin-left: 50px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: color;
}
.contact-nav__link:hover::after {
    width: 100%;
}
.contact-nav__link:hover {color: rgba(33, 150, 243, 1);}
.contact-nav__link:hover .contact-nav__img {color: rgba(33, 150, 243, 1);
fill:var(--main-color);
}
.contact-nav__link:focus {color: rgba(33, 150, 243, 1);}
.contact-nav__link:focus .contact-nav__img {color: rgba(33, 150, 243, 1);
fill:var(--main-color);
}
/* --------------------HEADER----END----------------- */

/* -----------------------MAIN-hero------------------- */
.articles {
    background-color: #2F303A;
    background-image: url(../images/section-hero/background-squoosh.jpg);
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    text-align: center;
    position: relative;
}
.article__overlay {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.article__header {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    color: #ffffff;
    line-height: 1.363;
    width: 670px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 200px;
}

/* -------------main-first-section------------------- */
.card__items-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {}
.card__img {
    padding:25px;
    margin-bottom:30px;
    width: 270px; 
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}
.card_path {}
.card__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 3%;
    text-decoration: bold;
}
.card__copy {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 3%;
}

/* -------------main-second-section------------------ */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-decoration: Bold;
    letter-spacing: 3%;
    text-align: center;
    margin-bottom:50px;    
}
.card-second {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
    margin: 0 auto;
}
.job-name {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 3%;
    text-align: center;
    margin: 0 auto;
}
.card-second__item {
    position: relative;
    overflow: hidden;
}
.card-second__item > .card-second__title {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);;
    color: #fff;
    padding: 27px;
}
.card-second__img {
    display: block;
}
.card-second__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: #757575;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* -----------------main-third-section-------------- */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-decoration: Bold;
    letter-spacing: 3%;
    text-align: center;
    margin-bottom:50px;    
}
.card-team {
    background-color: #F5F4FA;
}
.card-team__list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card-team__item {
    width: 270px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;

    /* box-shadow: <x-offset> <y-offset> <blur> <spread> <color> */
    box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.card-team__figure {
    margin:auto 0;
}
.box {
    padding: 30px;
}
.box__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 3%;
    text-align: center;
    margin-bottom:10px;
}
.box__job {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 3%;
    text-align: center;
    margin: 0 auto;
}

/*-------------------box-with-social-icons------------#FFFFFF*/
.social-nav ul li{
    width: 206px;
    height: 56px;
    margin-top: 16px;
}
.social-nav__list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-nav__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    padding: 11px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: background-color;
}
.social-nav__icon:hover {
    fill:#ffffff;
    border-radius: 50%;
    background-color: #2196f3;
}
.i-20 {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}
.i-20:hover {
    fill:#ffffff;
}
.social-nav__icon:hover .i-20 { 
    fill :#fff;
}
/*--------------------section-our-clients----------- */
.clients-container {
    padding-left: 15px;
    padding-right: 15px;
}
.client-container {
    width: 1170px;
    height: 92px;
}
.client-container__list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-container__icon {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 30px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: border;
}
.client-container__img {
    width: 106px;
    height: 60.04px;
    fill: #AFB1B8;
    margin-top: 17.7px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: fill;
}
.client-container__icon:hover {
   border: 1px solid var(--main-color);
}
.client-container__icon:hover .client-container__img {
    fill: var(--main-color);
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-decoration: Bold;
    letter-spacing: 3%;
    text-align: center;
    margin-bottom:50px;    
}
/* --------------------MAIN-END---------------------- */

/* --------------------FOOTER------------------------ */
.pages-footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.pages-footer__display {
    display: flex;}
.page-footer__newsletter--display {
    display: flex;
}
.page-footer__link {
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: color;
}
.page-footer__link:hover {color: rgba(33, 150, 243, 1);}
.page-footer__link:focus {color: rgba(33, 150, 243, 1);
}
.page-footer__link--color {
    color: #757575;

    text-decoration: none;
    font-style: normal;
    line-height: 1.714;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: color;
}
.page-footer__link--color:hover {color: rgba(33, 150, 243, 1);}
.page-footer__link--color:focus {color: rgba(33, 150, 243, 1);
}
/*-------------------box-with-social-icons-footer----*/
.page-footer__list {
    width: 246px;
}
.page-footer__icons {
    width: 206px;
    margin-left: 70px;
    margin-right: 78px;
}
.page-footer__newsletter {
    width: 570px;
}
.social-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    padding: 11px;
    background: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    margin-top: 20px; 
    color: #fff;
}
.page-footer__link--color {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
}
.page-footer__list--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.i-20--white {
    width: 20px;
    height: 20px;
    fill: #fff;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}
.page-footer__input {
    margin-top: 20px;
    padding: 15px;
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
}
.page-footer__img {
    width: 24px;
    height: 24px;
}
.page-footer__path {
    margin-top: 20px;
    padding: 15px;
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
}
/* --------------------FOOTER----END--------------*/

.logo {
    margin-right: 93px;
}
.logo__link {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.logo__link--highlight {
    color: var(--main-color);   
}
.logo__link--white {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;  
}






/* -------------modal-window------------------------- */
.modal {}
.modal__path {}
.modal__nav {}
.modal__item {}
.modal--backdrop {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 250ms;
    transition-property: opacity, visibility;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal__body {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 528px;
    min-height: 581px;
    
    transform: translate(-50%,-50%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: translate;
}
.modal__img--close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 6px;
}
.input-group {
    padding: 40px;
}
.input-group__list {}
.input-group__item {}
.input-group__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: #757575;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input-group__input {
    margin-top: 4px;
    padding-left: 42px;

    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;  
}
.input-group__input--highlight {
    color: var(--main-color);
    
}
.input-group__img {
    width: 12px;
    height: 12px;
    fill: #212121;
}
.input-group__path{}
.input-group__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.input-group__label {
    position: relative;
}
.input-group__label span {
    position: absolute;
    top: 32px;
    left: 12px;
}
.input-group__textarea {
    margin-top: 4px;
    width: 448px;
    height: 120px;
    padding: 12px 16px 12px 16px;
    color: #757575;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.checkbox {
    display: inline;
}
.checkbox__input::before {
    cursor:pointer;
    content:"";
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 4px;   
}  
.checkbox__input {
    display: none;   
}
.checkbox__img {
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 7px;
    margin-left: 13px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: border, background; 
}
.checkbox__path {}
.checkbox__img::after {
    fill: var(--main-color); 
}
.checkbox__input:checked + .checkbox__img {
    background-color: var(--main-color);
    border-color: var(--main-color);    
}
.checkbox__input:checked + .checkbox__img::after {
    background-color: var(--main-color);
    border-color: var(--main-color);  
}
.input-group__input:focus,
.input-group__textarea:focus {
    outline: none;
    border-color: var(--main-color);
    border-radius: 4px; 
    
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: border;
}
.input-group__label .input-group__input:focus + span use {
    fill:var(--main-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: fill;
}
.checkbox__statute {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;  
}
.checkbox__img + .checkbox__statute {
   vertical-align: middle;
}
.checkbox__link{}
.checkbox__link--highlight {
    text-decoration: none;
    color: #2196f3;
    text-decoration: underline;}

/* --------------------MODAL-WINDOW-end-------------- */

