*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --main-color: #2196f3;
    --secondary-color: #2F303A;
    --third-color: #F5F4FA
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}   
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;   
}
/* .display {
    display: flex;
} */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
    line-height: 1;
}

/* ----------------MIN-RESET------------------------- */
/* remember to define focus styles! */
ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
} 
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
/* p {
    padding: 0;
}
.list-style-none {
    list-style: none;
    text-decoration: none;
}
.link {
    list-style: none;
    text-decoration: none
}
img {
    display: block;
}
figure {
    margin:auto 0;
} */
/* ----------------COMPONENTS------------------------ */
.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1.875;
    background: #2196F3;
    padding:10px 41px 10px 41px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    border: none;
}
/* .button-style {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    padding:6px 22px 6px 22px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    border: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: background-color, color, box-shadow;
} 
.button-style:hover {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);   
}
.button-style:focus {
    background-color: #2196f3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */
.btn--signup {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #fff;
    margin-top: 36px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 28px 10px 42px;
}
/* .button--send {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #fff;
    margin-top: 36px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center; 
} */
/* ----------------COMPONENTS-END-------------------- */
/* --------------------FOOTER------------------------ */
.pages-footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.pages-footer__display {
    display: flex;}
.page-footer__newsletter--display {
    display: flex;
}
.page-footer__link {
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: color;
}
.page-footer__link:hover {color: rgba(33, 150, 243, 1);}
.page-footer__link:focus {color: rgba(33, 150, 243, 1);
}
.page-footer__link--color {
    color: #757575;

    text-decoration: none;
    font-style: normal;
    line-height: 1.714;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: color;
}
.page-footer__link--color:hover {color: rgba(33, 150, 243, 1);}
.page-footer__link--color:focus {color: rgba(33, 150, 243, 1);
}
/*-------------------box-with-social-icons-footer----*/
.page-footer__list {
    width: 246px;
}
.page-footer__icons {
    width: 206px;
    margin-left: 70px;
    margin-right: 78px;
}
.page-footer__newsletter {
    width: 570px;
}
.social-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    padding: 11px;
    background: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    margin-top: 20px; 
    color: #fff;
}
.page-footer__link--color {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
}
.page-footer__list--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.i-20--white {
    width: 20px;
    height: 20px;
    fill: #fff;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}
.page-footer__input {
    margin-top: 20px;
    padding: 15px;
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
}
.page-footer__img {
    width: 24px;
    height: 24px;
}
.page-footer__path {
    margin-top: 20px;
    padding: 15px;
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
}
/* --------------------FOOTER----END--------------*/

.logo {
    margin-right: 93px;
}
.logo__link {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.logo__link--highlight {
    color: var(--main-color);   
}
.logo__link--white {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;  
}