*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --main-color: #2196f3;
    --secondary-color: #2F303A;
    --third-color: #F5F4FA
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}   
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;   
} 
.display {
    display: flex;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
    line-height: 1;
}

/* ----------------MIN-RESET------------------------- */
/* remember to define focus styles! */
ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
} 
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
/* ----------------MIN-RESET-END--------------------- */

/* -----------------main-third-section-------------- */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-decoration: Bold;
    letter-spacing: 3%;
    text-align: center;
    margin-bottom:50px;    
}
.card-team {
    background-color: #F5F4FA;
}
.card-team__list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card-team__item {
    width: 270px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;

    /* box-shadow: <x-offset> <y-offset> <blur> <spread> <color> */
    box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.card-team__figure {
    margin:auto 0;
}
.box {
    padding: 30px;
}
.box__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 3%;
    text-align: center;
    margin-bottom:10px;
}
.box__job {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 3%;
    text-align: center;
    margin: 0 auto;
}
/*-------------------box-with-social-icons------------#FFFFFF*/
.social-nav ul li{
    width: 206px;
    height: 56px;
    margin-top: 16px;
}
.social-nav__list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-nav__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    padding: 11px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: background-color;
}
.social-nav__icon:hover {
    fill:#ffffff;
    border-radius: 50%;
    background-color: #2196f3;
}
.i-20 {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
}
.i-20:hover {
    fill:#ffffff;
}
.social-nav__icon:hover .i-20 { 
    fill :#fff;
}