.client {
    padding-top: 94px;
    padding-bottom: 94px;
}
.client__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.client__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-decoration: Bold;
    letter-spacing: 3%;
    text-align: center;
    margin-bottom:50px;
}
.client__box {
    width: 1170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client__list {
    width: 1170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .client__item {} */
/* .client__link {} */

.client__icon {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 30px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: border;
}
.client__svg {
    width: 106px;
    height: 60.04px;
    fill: #AFB1B8;
    margin-top: 17.7px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    transition-property: fill;
}
.client__icon:hover {
   border: 1px solid var(--main-color);
}
.client__icon:hover .client__svg {
    fill: var(--main-color);
}